@(gaCode:Option[String])

@main("GraphQL Toolbox", gaCode) {

    <section class="header">
        <div class="container">
            <div class="blog-header">
                <div class="logo-wrap"><span class="logo-text logo-text-left">GraphQL</span><img src="@routes.Assets.versioned("images/graphql-logo-1.svg")" class="" /><span class="logo-text logo-text-right">Toolbox</span></div>

                <p>
                    GraphQL Toolbox is set of GraphQL tools that aims to help with GraphQL server and client development.
                    If you would like to experiment with this project, add new tools or improve existing one, then you can find it on the <a href="https://github.com/OlegIlyenko/graphql-toolbox">GitHub</a>.
                </p>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="col-sm-6 item-wrap">
                <a href="/format" class="item hvr-shutter-out-vertical">
                    <h1><span>GraphQL Formatter</span></h1>
                    <p>Formats GraphQL queries and schema definitions. Formatter also correctly handles and formats most of the comments.</p>
                </a>
            </div>

            <div class="col-sm-6 item-wrap">
                <a href="/proxy" class="item hvr-shutter-out-vertical">
                    <h1><span>HTTP Proxy</span></h1>
                    <p>Provides a dynamic way to create a GraphQL schema based on one or more HTTP endpoints. (Work in progress)</p>
                </a>
            </div>
        </div>

        <div class="row" style="padding-top: 30px">
            @*<div class="col-sm-6 item-wrap">*@
                @*<div href="#" class="item hvr-shutter-out-vertical">*@
                    @*<h1><span>GraphiQL</span></h1>*@
                    @*<p>GraphiQL that supports multiple tabs, arbitrary endpoints, local storage, HTTP headers and more. (coming soon)</p>*@
                @*</div>*@
            @*</div>*@

            <div class="col-sm-6 item-wrap">
                <div href="#" class="item hvr-shutter-out-vertical" style="width: 100%">
                    <h1><span>...</span></h1>
                    <p>More tools are coming soon.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <span>Powered by</span> <a href="http://sangria-graphql.org"><img src="@routes.Assets.versioned("images/sangria-logo.svg")"></a>
                </div>
            </div>
        </div>
    </div>
}
