@(title: String, gaCode: Option[String])(content: Html)

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="sangria,scala,relay,graphql,playframework" />

        <title>@title</title>

        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("index.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    </head>
    <body>
        @content

        <section class="footer">
            <div class="container">
                <div class="blog-header">
                    <p>
                        This is just a small demonstration. It really gets interesting when you start to play with the schema on the server side. Fortunately it's
                        pretty easy to do. <a href="https://github.com/sangria-graphql/sangria-playground" target="_blank">
                        sangria-playground</a> is available on the
                        <a href="https://github.com/sangria-graphql/sangria-playground" target="_blank">GitHub</a>
                        , and since it's a simple Play application using webpack ,
                        all it takes to start playground locally and start playing with schema is this:
                    </p>

                    <pre>$ git clone https://github.com/sangria-graphql/sangria-relay-playground.git
$ cd sangria-relay-playground
$ npm install
$ sbt run</pre>

                    <p>
                        Now you are ready to go to <a href="http://localhost:9000" target="_blank">
                        http://localhost:9000</a>
                        for the playground or to <a href="http://localhost:9000/starwars" target="_blank">
                        http://localhost:9000/starwars</a> for the minimal Star Wars example.
                        The prerequisites are <a href="http://www.scala-sbt.org/download.html" target="_blank">SBT</a>
                        , <a href="http://www.oracle.com/technetwork/java/javase/downloads/jdk8-downloads-2133151.html" target="_blank">
                        Java 8</a>, <a href="https://www.npmjs.com/" target="_blank">npm</a>, <a href="https://babeljs.io/" target="_blank">babel</a>
                        and <a href="https://webpack.github.io/" target="_blank">webpack</a>.
                    </p>
                </div>
            </div>
        </section>

      <script src="@routes.Assets.versioned("index.js")"></script>

      @ga(gaCode)
    </body>
</html>