@(title: String, gaCode: Option[String])(content: Html)

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="sangria,scala,relay,graphql,playframework" />

        <title>@title</title>

        @font()

        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("index.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    </head>
    <body>
        @content

      <script src="@routes.Assets.versioned("index.js")"></script>

      @ga(gaCode)
    </body>
</html>